body{
    background-image: url(./img/fondo.jpg);
    background-size: cover;    
}

h1{
    color: rgb(186, 121, 73);
    background-color: rgb(53, 47, 54);
    text-align: center;
}

p {
    color: coral;
    text-align: center;
}
#texto {
    color: rgb(120, 212, 8);
}

li {
    width: 500px;
    background-color: rgb(26, 33, 33);
    margin: 0px auto;
    border-radius: 2rem;
    text-align: center;
    color: aqua;
}

button {
    
    background-color: brown;
    background-position:top
}

#imagen {
    
}

footer{
    background-color: rgb(53, 47, 54);
    
}

#comienzo {
    text-align: right;
}

#copy{
    text-align: center;
}
 
img{
    width: 400px;
    transition: box-shadow 0.3s ease;
    background-color: #0c0c0c;
    margin: 2px auto;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    
}
